body{
    background-image: url(Materiale/background.jpg);
    background-size: cover;
}

#sfondo{
    text-align: center;
    background-color: black;
    width: 1200px;
    height: 900px;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
}



.logo{
    width: 150px;
    margin: auto;
    display: block;
}

h1{
    color: lime;
}

.Button{
    background-color: lime;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.section{
    color: white;
    text-align: left;
    margin-left: 50px;
    margin-top: 15px;
    font-size: large;
}

.carica1{
    background-color: orange;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
}

.carica2{
    background-color: green;
    width: 500px;
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
}

.carica3{
    background-color: firebrick;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
}
